<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>
<body>
    <div class="wrapper">
        
        <div class="center">
            <h1>Welcome To The Omicron Bed Manager</h1>
            <div class="buttons">
                <a href="login.html">
                    <input type="submit" value="Login/Signup">
                </a>
            </div>
        </div>

    </div>
</body>
</html>