<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>patient</title>
    <link rel="stylesheet" type="text/css" href="/static/css/patient.css">
</head>
<body>
  <a class="header1" href="home.html">HOME</a>
  <a class="header2" href="">LOGOUT</a>

        <h1>HOSPITAL BEDS</h1>
        <div class=container id=box1>
            <p class="name">MANIPAL HOSPITAL</p>
            <table>
                <tr>
                  <th>Bangalore</th>
                  <th>No. of beds available: 20</th>
                  <th><form action="/action_page.php">
                    <label for="myfile">Select files:</label>
                    <input type="file" id="myfile" name="myfile" multiple>
                </form></th>
                
                  <th><div class=button>
                    <input type="submit" value="Request Bed">
                </div></th>
                </tr>
            </table>
        </div>
        <div class=container id=box2>
            <p class="name">AIIMS</p>
            <table>
                <tr>
                  <th>Delhi</th>
                  <th>No. of beds available: 20</th>
                  <th><form action="/action_page.php">
                    <label for="myfile">Select files:</label>
                    <input type="file" id="myfile" name="myfile" multiple>
                </form></th>
                
                  <th><div class=button>
                    <input type="submit" value="Request Bed">
                </div></th>
                </tr>
            </table>
        </div>
        <div class=container id=box3>
            <p class="name">GALAXY  HOSPITAL</p>
            <table>
                <tr>
                  <th>Varanasi</th>
                  <th>No. of beds available: 20</th>
                  <th><form action="/action_page.php">
                    <label for="myfile">Covid Report</label>
                    <input type="file" id="myfile" name="myfile" multiple>
                </form></th>
                
                  <th><div class=button>
                    <input type="submit" value="Request Bed">
                </div></th>
                </tr>
            </table>
        </div>
    
    
</body>
</html>